@font-face{ 
  font-family: 'mplus-1c-medium';
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1c-medium.eot');
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1c-medium.eot?#iefix') format('embedded-opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'UD Digi Kyokasho NP-B';
  overflow: hidden;
  font-size: 60pt;
  /*background-color: #254678;*/
}

#root {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.flex {
  position: absolute;
  display: flex;
}


.parent[data-v-36eceeca]{display:flex;white-space:nowrap}
.tweet[data-v-3bb9e9eb]{position:absolute;display:flex;margin:0;padding:0;top:0px;left:0px;width:auto;height:auto;flex-direction:column;background-color:#fff;justify-content:left;font-family:"mplus-1c-medium";overflow:hidden;z-index:0;font-size:24px;color:#000;font-weight:bold;line-height:32px}.name[data-v-3bb9e9eb]{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.text[data-v-3bb9e9eb]{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.twitter-enter-active[data-v-9e60c7ba]{transition:all 1s}.twitter-leave-active[data-v-9e60c7ba]{transition:all 1s}.twitter-enter[data-v-9e60c7ba],.twitter-leave-to[data-v-9e60c7ba]{transform:translateY(-130%);opacity:0}
